@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(1px);
$border-thickness-checkbox: functions.to-rem(2px);
$transition-duration: 0.2s;

.checkboxContainer {
  border: $border-thickness solid colors.$grey-800;
  padding: spaces.$space-4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: spaces.$space-24px;
  cursor: pointer;
  transition:
          background-color $transition-duration ease,
          border $transition-duration ease;
}
.checkboxContainer:hover {
  background-color: colors.$grey-850;
}
.checkboxContainer:focus, .checkboxContainer:focus-visible {
  border: $border-thickness solid colors.$green-200;
  outline: none;
  box-shadow: none;
}

.checkboxContainer:hover .checkbox {
  border: $border-thickness-checkbox solid colors.$green-200;
}
.checkboxContainer:focus .checkbox , .checkboxContainer:focus-visible .checkbox {
  border: $border-thickness-checkbox solid colors.$green-200;
  outline: none;
  box-shadow: none;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: spaces.$space-24px;
}
