@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$password-max-width: functions.to-rem(402px);

.beamLabel {
  max-width: fit-content;
  text-align: right;
  text-transform: uppercase;
  color: colors.$grey-200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include fonts.text-preset-3;

  @include screens.tablet-and-up{
    @include fonts.text-preset-2;
  }
}

.copyLabel {
  max-width: fit-content;
  text-align: right;
  text-transform: uppercase;
  color: colors.$green-200;

  @include fonts.text-preset-3;
}

.checkboxLabel {
  text-align: left;
  color: colors.$grey-200;

  @include fonts.text-preset-4;
}

.headerLabel {
  text-align: left;
  text-wrap: nowrap;
  color: colors.$grey-200;

  @include fonts.text-preset-4;
}

.label {
  display: inline-block;
  width: 100%;
  text-align: left;
  cursor: inherit;
}

.numberLabel {
  text-align: right;
  color: colors.$green-200;

  @include fonts.text-preset-2;
}

.passwordLabel {
  height: 100%;
  max-width: 100%;
  text-align: left;
  color: colors.$grey-700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include fonts.text-preset-2;

  @include screens.tablet-and-up{
    max-width: $password-max-width;
  }
}

.uppercaseLabel {
  text-align: left;
  text-transform: uppercase;
  color: colors.$grey-600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include fonts.text-preset-4;

  @include screens.tablet-and-up{
    @include fonts.text-preset-3;
  }
}