@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/spaces';

.checkboxLabel {
  text-align: left;
  color: colors.$grey-200;

  @include fonts.text-preset-4;
}

.headerLabel {
  text-align: left;
  color: colors.$grey-200;

  @include fonts.text-preset-4;
}

.label {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.numberLabel {
  text-align: right;
  color: colors.$green-200;

  @include fonts.text-preset-2;
}

.passwordLabel {
  text-align: left;
  color: colors.$grey-700;

  @include fonts.text-preset-2;
}

.uppercaseLabel {
  text-align: left;
  text-transform: uppercase;
  color: colors.$grey-600;

  @include fonts.text-preset-2;
}