@use '../../../../styles/colors';
@use '../../../../styles/functions';

$border-thickness: functions.to-rem(2px);
$slider-bar-adjuster-height: functions.to-rem(28px);
$slider-bar-adjuster-width: functions.to-rem(28px);
$transition-duration: 0.2s;

.sliderBarAdjuster {
  border: $border-thickness solid colors.$grey-200;
  border-radius: 100%;
  background-color: colors.$grey-200;
  height: $slider-bar-adjuster-height;
  width: $slider-bar-adjuster-width;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition:
          background-color $transition-duration ease,
          border $transition-duration ease;
}
.sliderBarAdjuster:hover {
  border: $border-thickness solid colors.$green-200;
  background-color: colors.$grey-850;
}
.sliderBarAdjuster.clicked {
  border: $border-thickness solid colors.$green-200;
  background-color: colors.$grey-850;
}
