@use '../../../../styles/colors';
@use '../../../../styles/functions';

$slider-bar-adjuster-height: functions.to-rem(28px);
$slider-bar-adjuster-width: functions.to-rem(28px);

.sliderBarAdjuster {
  border-radius: 100%;
  background-color: colors.$grey-200;
  height: $slider-bar-adjuster-height;
  width: $slider-bar-adjuster-width;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.sliderBarAdjuster:hover {
  background-color: colors.$green-200;
}
.sliderBarAdjuster.clicked {
  background-color: colors.$green-200;
}
