$attribution: hsl(228, 45%, 40%);

$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

$grey-950: hsl(255, 22%, 4%);
$grey-900: hsl(248, 17%, 9%);
$grey-850: hsl(248, 15%, 11%);
$grey-800: hsl(248, 10%, 15%);
$grey-700: hsl(248, 5%, 34%);
$grey-600: hsl(251, 9%, 53%);
$grey-200: hsl(252, 11%, 91%);

$green-200: hsl(127, 100%, 82%);
$yellow-300: hsl(42, 91%, 68%);
$orange-400: hsl(13, 95%, 66%);
$red-500: hsl(0, 91%, 63%);

$gradient1: hsl(248, 17%, 9%);
$gradient2: hsl(255, 22%, 4%);
