@use 'functions';

$space-4px: functions.to-rem(4px);
$space-8px: functions.to-rem(8px);
$space-12px: functions.to-rem(12px);
$space-16px: functions.to-rem(16px);
$space-18px: functions.to-rem(18px);
$space-24px: functions.to-rem(24px);
$space-32px: functions.to-rem(32px);
$space-56px: functions.to-rem(56px);
$space-80px: functions.to-rem(80px);
$space-104px: functions.to-rem(104px);
$space-128px: functions.to-rem(128px);
$space-160px: functions.to-rem(160px);
$space-176px: functions.to-rem(176px);
$space-184px: functions.to-rem(184px);

$radius-5px: functions.to-rem(5px);
$radius-15px: functions.to-rem(15px);
$radius-25px: functions.to-rem(25px);
