@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(1px);
$transition-duration: 0.2s;
$slider-bar-height: functions.to-rem(28px);

.sliderBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $slider-bar-height;
  width: 100%;
  position: relative;
  outline: none;
  box-shadow: none;
}

.sliderBarContainerValue {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sliderBarContainerAdjuster {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sliderBarContainerWrapper {
  border: $border-thickness solid transparent;
  padding: spaces.$space-4px spaces.$space-18px;
  outline: none;
  box-shadow: none;
}
.sliderBarContainerWrapper:focus-visible {
  border: $border-thickness solid colors.$green-200;
}