.sliderBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}

.sliderBarContainerValue {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sliderBarContainerAdjuster {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
