@use '../../../../styles/colors';
@use '../../../../styles/functions';

$slider-bar-height: functions.to-rem(8px);

.sliderBarValue {
  background-color: colors.$green-200;
  height: $slider-bar-height;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}