@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$copy-icon-height: functions.to-rem(24px);
$copy-icon-width: functions.to-rem(21px);

.passwordContainer {
  background-color: colors.$grey-800;
  padding: spaces.$space-16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: spaces.$space-16px;
  width: 100%;

  @include screens.tablet-and-up{
    padding: spaces.$space-16px spaces.$space-32px;
  }
}

.passwordContainerSpace {
  display: block;
  flex-grow: 1;
}

.passwordContainerIcon {
  height: $copy-icon-height;
  width: $copy-icon-width;
}
