@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(1px);
$copy-icon-height: functions.to-rem(24px);
$copy-icon-width: functions.to-rem(21px);
$container-width: functions.to-rem(580px);
$copy-word-area-width: functions.to-rem(65px);
$copy-icon-area-width: functions.to-rem(47px);
$transition-duration: 0.2s;

.passwordContainer {
  background-color: colors.$grey-800;
  padding: spaces.$space-16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: spaces.$space-16px;
  width: 100vw;
  max-width: 100vw;

  @include screens.tablet-and-up{
    padding: spaces.$space-16px spaces.$space-32px;
    max-width: $container-width;
  }
}

.passwordContainerSpace {
  height: fit-content;
  display: flex;
  max-width: calc(100% - $copy-word-area-width);
  flex-grow: 1;
}

.passwordContainerSpaceCopy {
  display: block;
  height: 100%;
  min-width: $copy-word-area-width;
}

.passwordContainerSpaceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - $copy-icon-area-width);
}

.passwordContainerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: colors.$green-200;
  height: $copy-icon-height;
  width: $copy-icon-width;
  transition: fill $transition-duration ease;
}
.passwordContainerIconWrapper:hover .passwordContainerIcon {
  fill: colors.$white;
}
.passwordContainerIconWrapper:focus .passwordContainerIcon {
  fill: colors.$white;
}
.passwordContainerIconWrapper:focus-visible .passwordContainerIcon {
  fill: colors.$white;
}

.passwordContainerIconWrapper {
  border: $border-thickness solid transparent;
  padding: spaces.$space-4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.passwordContainerIconWrapper:focus-visible {
  border: $border-thickness solid colors.$green-200;
}